/* All Page Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Reenie Beanie', sans-serif;
    background-color: #D1C9B6;
}

body {
    width: 100%;
    min-height: 100vh;
}

section {
    min-height: 100vh;
    padding-top: 20%;
    /* padding-left: 25%; */
}

.padLeft {
    min-height: 100vh;
    padding-top: 22%;
    padding-left: 25%;
}

h3 {
    color: #776565;
    font-size: 48px;
    font-weight: 100;
    line-height: 57px;
}

a {
    text-decoration: none;
    color: rgb(92, 134, 138);
}

h5 {
    font-size: 20px;
    text-align: center;
}

p {
    font-size: 30px;
}

#fadeIn {
    animation-name: fadeIn;
    animation-delay: 0s;
    animation-direction: forwards;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#letterOne {
    animation-name: waveMotion;
    animation-delay: 0s;
    animation-direction: forwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#letterTwo {
    animation-name: waveMotion;
    animation-delay: 200ms;
    animation-direction: forwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#letterThree {
    animation-name: waveMotion;
    animation-delay: 400ms;
    animation-direction: forwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#letterFour {
    animation-name: waveMotion;
    animation-delay: 600ms;
    animation-direction: forwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#letterFive {
    animation-name: waveMotion;
    animation-delay: 800ms;
    animation-direction: forwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#letterSix {
    animation-name: waveMotion;
    animation-delay: 1000ms;
    animation-direction: forwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#letterSeven {
    animation-name: waveMotion;
    animation-delay: 1200ms;
    animation-direction: forwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#letterEight {
    animation-name: waveMotion;
    animation-delay: 1400ms;
    animation-direction: forwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes waveMotion {
    0% {
        top: 320px;
    }
    50% {
        top: 310px;
    }
    100% {
        top: 320px;
    }
}

/* Page 1 (index.html) Animations */
#skimmingStones {
    animation-name: skimmingStones;
    animation-delay: 0s;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode:forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes skimmingStones {
    from {
        margin-left: -1000px;
        transform: skew(60deg);
        letter-spacing: 30px;
    }
    to {
        margin-left: 0px;
    }
}

#floats {
    animation-name: floats;
    animation-delay: 1.2s;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode:forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes floats {
    from {
        position: relative;
        top: 0px;
    }
    to {
        position: relative;
        top: -80px;
        font-size: 70px;
        font-weight: 900;
    }
}

/* Page 2 Animations */
#look {
    position: absolute;
    top: 317px;
    left: 495px;
    animation-name: look;
    animation-duration: 5s;
    animation-delay: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

#outBeyond {
    position: absolute;
    top: 317px;
    left: 568px;
}

@keyframes look {
    0% {
        opacity: 1;
    }
    100% {
        font-size: 200px;
        opacity: .1;
    }
}

.waterPositionW {
    position: absolute;
    top: 317px;
    right: 605px;
}

.waterPositionA {
    position: absolute;
    top: 317px;
    right: 580px;
}

.waterPositionT {
    position: absolute;
    top: 317px;
    right: 565px;
}

.waterPositionE {
    position: absolute;
    top: 317px;
    right: 550px;
}

.waterPositionR {
    position: absolute;
    top: 317px;
    right: 535px;
}

/* Page 3 Animations */
#feetF {
    color: #D1C9B6;
    position: absolute;
    top: 317px;
    left: 677px;
    animation-name: feetLetters;
    animation-duration: 1s;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
}

#feetE1 {
    color: #D1C9B6;
    position: absolute;
    top: 317px;
    left: 696px;
    animation-name: feetLetters;
    animation-duration: 1s;
    animation-delay: 1000ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#feetE2 {
    color: #D1C9B6;
    position: absolute;
    top: 317px;
    left: 713px;
    animation-name: feetLetters;
    animation-duration: 1s;
    animation-delay: 1500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

#feetT {
    color: #D1C9B6;
    position: absolute;
    top: 317px;
    left: 730px;
    animation-name: feetLetters;
    animation-duration: 1s;
    animation-delay: 2000ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes feetLetters {
    0% {
        opacity: 0;
        font-size: 88px;
    }
    100% {
        color: #776565;
        opacity: 1;
        font-size: 48px;
    }
}

#meetFirst {
    color: #D1C9B6;
    opacity: 0;
    animation-name: meetFirst;
    animation-delay: 2s;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode:forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes meetFirst {
    from {
        margin-left: -150px;
    }
    to {
        margin-left: 0px;
        opacity: 1;
        color: rgb(92, 134, 138);
    }
}

#meetSecond {
    position: absolute;
    top: 374px;
    color: #D1C9B6;
    opacity: 0;
    animation-name: meetSecond;
    animation-delay: 2s;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode:forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes meetSecond {
    from {
        margin-left: 368px;
    }
    to {
        margin-left: 218px;
        opacity: 1;
        color: rgb(92, 134, 138);
    }
}

/* Page 4 Animations */
.page4 {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.circle {
    position: relative;
    width: 400px;
    height: 300px;
    /* background-color: red; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: circleText 10s linear infinite;
}

.text span{
    position: absolute;
    left: 50%;
    font-size: 48px;
    transform-origin: 0 150px;
    animation: circleTextOpacity 2s linear 1;
}

#arrow {
    position: absolute;
    top: 47%;
}

@keyframes circleText {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes circleTextOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Page 5 Animations */
#down {
    position: absolute;
    top: 317px;
    left: 657px;
    animation: down;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#asItMust {
    position: absolute;
    top: 317px;
    left: 725px;
}

#up {
    color: #776565;
    position: absolute;
    top: 317px;
    right: 365px;
    animation: up;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

@keyframes down {
    0% {
    }
    100% {
        top: 400px;
    }
}

@keyframes up {
    0% {
        color: #776565;
    }
    100% {
        top: 235px;
    }
}

/* Page 6 Animations */
.laughterPositionL {
    position: absolute;
    top: 317px;
    left: 673px;
}

.laughterPositionA {
    position: absolute;
    top: 317px;
    left: 683px;
}

.laughterPositionU {
    position: absolute;
    top: 317px;
    left: 707px;
}

.laughterPositionG {
    position: absolute;
    top: 317px;
    left: 725px;
}

.laughterPositionH {
    position: absolute;
    top: 317px;
    left: 740px;
}

.laughterPositionT {
    position: absolute;
    top: 317px;
    left: 759px;
}

.laughterPositionE {
    position: absolute;
    top: 317px;
    left: 774px;
}

.laughterPositionR {
    position: absolute;
    top: 317px;
    left: 791px;
}

/* Page 7 Animations */
.onTheBeachPosition {
    position: absolute;
    top: 375px;
    left: 501px;
}

/* Page 8 Animations */
.page8 {
    /* display: grid; */
    place-items: center;
    min-height: 100vh;
    text-align: center;
}

#happy {
    position: absolute;
    top: -50px;
    left: 675px;
    animation-name: happy;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#ever {
    position: absolute;
    top: -50px;
    left: 675px;
    animation-name: ever;
    animation-duration: 3s;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
}

#after {
    position: absolute;
    top: -50px;
    left: 675px;
    animation-name: after;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes happy {
    0% {
        opacity: 0;
    }
    100% {
        padding-top: 330px;
        opacity: 1;
    }
}

@keyframes ever {
    0% {
        opacity: 0;
    }
    100% {
        padding-top: 380px;
        opacity: 1;
    }
}

@keyframes after {
    0% {
        opacity: 0;
    }
    100% {
        padding-top: 430px;
        opacity: 1;
    }
}

/* Page 9 Animations */


/* Page 10 Animations */


/* Page 11 Animations */


/* Page 12 Animations */


/* Page 13 Animations (SEE PAGE 8)*/

/* Page 14 Animations */
#centerText {
    text-align: center;
}

