/* All Page Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Reenie Beanie', sans-serif;
    background-color: #D1C9B6;
}

body {
    width: 100%;
    min-height: 100vh;
}

section {
    min-height: 100vh;
    padding-top: 20%;
    /* padding-left: 25%; */
}

.padLeft {
    min-height: 100vh;
    padding-top: 22%;
    padding-left: 25%;
}

h3 {
    color: #776565;
    font-size: 48px;
    font-weight: 100;
    line-height: 57px;
}

a {
    text-decoration: none;
    color: rgb(92, 134, 138);
}

h5 {
    font-size: 20px;
    text-align: center;
}

p {
    font-size: 30px;
}

#fadeIn {
    animation-name: fadeIn;
    animation-delay: 0s;
    animation-direction: forwards;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Page 1 (index.html) Animations */
#skimmingStones {
    animation-name: skimmingStones;
    animation-delay: 0s;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode:forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes skimmingStones {
    from {
        margin-left: -1000px;
        transform: skew(60deg);
        letter-spacing: 30px;
    }
    to {
        margin-left: 0px;
    }
}

#floats {
    animation-name: floats;
    animation-delay: 1.2s;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode:forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes floats {
    from {
        position: relative;
        top: 0px;
    }
    to {
        position: relative;
        top: -80px;
        font-size: 70px;
        font-weight: 900;
    }
}

/* Page 2 Animations */


/* Page 3 Animations */
#meetFirst {
    animation-name: meetFirst;
    animation-delay: 0;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode:forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes meetFirst {
    from {
        margin-left: -150px;
        opacity: 0;
    }
    to {
        margin-left: 0px;
        opacity: 1;
    }
}

#meetSecond {
    position: absolute;
    top: 373px;
    animation-name: meetSecond;
    animation-delay: 0;
    animation-direction: forwards;
    animation-duration: 3s;
    animation-fill-mode:forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes meetSecond {
    from {
        margin-left: 368px;
        opacity: 0;
    }
    to {
        margin-left: 218px;
        opacity: 1;
    }
}

/* Page 4 Animations */
.page4 {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.circle {
    position: relative;
    width: 400px;
    height: 300px;
    /* background-color: red; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: circleText 10s linear infinite;
}

.text span{
    position: absolute;
    left: 50%;
    font-size: 48px;
    transform-origin: 0 150px;
    animation: circleTextOpacity 2s linear 1;
}

#arrow {
    position: absolute;
    top: 335px;
}

@keyframes circleText {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes circleTextOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Page 5 Animations */


/* Page 6 Animations */


/* Page 7 Animations */


/* Page 8 Animations */
.page8 {
    display: grid;
    place-items: center;
    min-height: 100vh;
    text-align: center;
}

#wordStack {
    
}

/* Page 9 Animations */


/* Page 10 Animations */


/* Page 11 Animations */


/* Page 12 Animations */


/* Page 13 Animations */
.page13 {
    display: grid;
    place-items: center;
    min-height: 100vh;
    text-align: center;
}

#wordStack {
    
}

/* Page 14 Animations */
#centerText {
    text-align: center;
}